/* thumbnail */
.thumbnail {
  width: 10px;
  height: 10px;
  background-color: #dfe6e9;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  flex-shrink: 0;
}

.thumbnail--me {
  width: 50px;
  height: 50px;
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/autumnportfolio/me/IMG_3752.png");
  margin-right: 15px;
}

.thumbnail--user {
  width: 40px;
  height: 40px;
  background-image: url("https://www.flaticon.com/premium-icon/icons/svg/1144/1144760.svg");
  margin-right: 15px;
}

/* subtitle */
.title--sub {
  display: block;
  color: #636e72;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

/* user-list, user-item */
.user-item:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  width: 100%;
}

.user-item .user-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-right: 5px;
}

.user-item .user-item__name {
  font-size: 1rem;
  color: #2d3436;
  margin-bottom: 5px;
}

.user-item .user-item__add {
  width: 40px;
  height: 30px;
  background-color: #dfe6e9;
  border-radius: 5px;
  font-size: 14px;
}

.user-item .user-item__status-message {
  font-size: 0.8rem;
  color: #636e72;
  font-weight: 300;
}

.user-item__message-time {
  font-size: 0.8rem;
  color: #636e72;
  font-weight: 300;
}

.user-item .music-info {
  flex-shrink: 0;
  border: 2px solid #55efc4;
  border-radius: 2rem;
  padding: 3px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-info span {
  font-size: 0.8rem;
  margin-right: 3px;
}
