@import url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600");
@import "reset.css";
@import "frame.css";
@import "components.css";
@import "friend-list.css";
@import "chat-list.css";
@import "find.css";
@import "more.css";
@import "setting.css";
@import "chat-room.css";
@import "mobile.css";
@import "animation.css";
@import "mediaquery.css";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
}
