@import url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600");
@import "reset.css";
@import "frame.css";
@import "friend.css";
@import "find.css";
@import "more.css";
@import "setting.css";
@import "chat-list.css";
@import "chat-room.css";
@import "mobile.css";

* {
    box-sizing: border-box;
}

a {
    color:inherit;
    cursor: pointer;
}